
@import url("C:\Users\DIVN DESIGN\Videos\spacerangerital.ttf");
*{
    font-family: "spacerangerital.ttf";
}


*{
    margin: 0 auto;
}

header.header img{
    width: 500px;
}


html{
    scroll-behavior: smooth;
}

header.header {
    display: flex;
    align-items: center;
    background-color: brown;
    height: 20vh;
}

body {
    margin: 0 auto;
}
section.top-page {
    background: url('../BACKGROUND.jpg');
    background-size: cover;
    height: 90vh;
    padding: 15px;
}

/* Page de bienvenue (landing-page) */

.landing-page {
    padding: 20px 50px;
}    

.big-title {
    color: rgb(255, 253, 253);
    font-size: 60px;
    padding: 10px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    width: 100%;
}

.scroller-down{
    color: bisque;
    text-decoration: none;
    position: absolute;
    bottom: 100px;
}


/* Menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
        
}

nav.nav a {
    color: rgb(233, 235, 225);
    width: 50px;
    margin-left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 0;
    text-decoration: none;


}


/* Services */

.services {
    display: flex;
    background-color: rgb(75, 9, 9);
    color: bisque;
    justify-content: space-evenly;
    margin: 10px;
    align-items: center;
    width: 100;
    font-weight: 100;
    height: 13vh;
    padding: 20px;
}

.service-items {
    background-color: black;
    color: brown;
    flex-direction: column;
    align-items: center;

}

.delivery-icon {
    font-size: 40px;
    color: bisque;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.service-details {
    color: bisque;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 200px;
}

/* best sells */

.section-title {
    margin: 100px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    margin: 50px;    
    position: relative;
}


.section-title::before{
    content: "";
    position: absolute;
    background-color: brown;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.best-services {
    background-color: brown;
    min-height: 400px;
    align-self: center;
}

.service-box{
    background-image: url(/ventes.jpg);
    min-width: 236px;
    height: 400px;
}

.mon-image{
    width: 90vw;
    height: auto;
    margin: 5vh auto;
    border-radius: 10px;
    display: block;
}

body{
    margin: 0;
}


/* contact */

.alt-contact{
    margin: 100px;

}

.mes-contacts{
     width: 90vw;
    height: auto;
    margin: 5vh auto;
    border-radius: 10px;
    display: block;
}


/* pied de page */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

.footer a.cgv{
    text-decoration: none;
    color: black;

}